
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Smart Shelves Web View</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">

      <div class="page-header">
        <h1>Smart Shelves</h1>
        <p class="lead">The accessible smart home organizer</p>
      </div>
        
        


  	  <h2>The shelves</h2>
  	  <p>The contents of each location on the shelves are listed below</p>
	<hr>
      <div class="row">
        <div class="col-md-4">
          <h4 tabindex='0'>Top Left</h4>
            <ul>
              {% for item in objectDict[5] %}
                <li tabindex='0'> {{item}} </li>
              {% endfor %}
            </ul>
        </div>
      
        <div class="col-md-4">
  	  <h4 tabindex='0'>Top Center</h4>
            <ul>
            {% for item in objectDict[6] %}
              <li tabindex='0'> {{item}} </li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h4 tabindex='0'>Top Right</h4>
            <ul>
            {% for item in objectDict[7] %}
              <li tabindex='0'> {{item}} </li>
            {% endfor %}
            </ul>
        </div>
      </div>
      
      <br><br>
  	  
      <div class="row">
        <div class="col-md-4">
          <h4 tabindex='0'>Middle Left</h4>
          <ul>
            {% for item in objectDict[8] %}
                <li tabindex='0'> {{item}} </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-4">
          <h4 tabindex='0'>Middle Center</h4>
          <ul>
            {% for item in objectDict[9] %}
              <li tabindex='0'> {{item}} </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-4">
          <h4 tabindex='0'>Middle Right</h4>
          <ul>
          {% for item in objectDict[10] %}
              <li tabindex='0'> {{item}} </li>
          {% endfor %}
          </ul>
          </div>
        </div>

        <br><br>
  	  
        <div class="row">
          <div class="col-md-4">
            <h4 tabindex='0'>Bottom Left</h4>
            <ul>
              {% for item in objectDict[11] %}
                <li tabindex='0'> {{item}} </li>
              {% endfor %}
            </ul>
            </div>
          <div class="col-md-4">
            <h4 tabindex='0'>Bottom Center</h4>
            <ul>
              {% for item in objectDict[12] %}
                <li tabindex='0'> {{item}} </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-4">
            <h4 tabindex='0'>Bottom Right</h4>
            <ul>
              {% for item in objectDict[13] %}
                <li tabindex='0'> {{item}} </li>
              {% endfor %}
            </ul>
        </div>
        <br>
      </div>
	<hr>

      <div class="row">
      <button onclick="function1()">Edit Contents</button>
        <div id='forms' style="display:none">
          <form action="/add" method='post' >
            <input type='text' name="item" placeholder="item name">
            <input type='text' name="new_location" placeholder="new location">
            <input type='submit' value="Add Item" >
          </form>
          <form action="/move" method='post'>
            <input type='text' name="item" placeholder="item name">
            <input type='text' name="old_location" placeholder="old location">
            <input type='text' name="new_location" placeholder="new location">
            <select id="select_old_loc">
              <option disabled="disable" selected>Select the previous location</option>
              {% for id, name in locationDict.iteritems() %}
              <option value={{ name }}>{{ name }}</option>
              {% endfor %}
            </select>
            <select id="select_new_loc">
              <option disabled="disable" selected="selected">Select the new location</option>
              {% for id, name in locationDict.iteritems() %}
              <option value={{ name }}>{{ name }}</option>
              {% endfor %}
              <option value="custom">enter custom</option>           
            <input type='submit' value="Move Item" >
          </form>
        </div>
      </div>
      <script>
        function function1() {
            document.getElementById('forms').style.display = 'block'
        }
        function function2() {
          var old_l = document.getElementById('select_old_loc');
          var new_l = document.getElementById('select_new_loc');
          if (old_l.selectedIndex == 0 || new_l.selectedIndex == 0) {
            alert("bad selection");
          }
          var old_l_val = old_l.options[old_l.selectedIndex].value;
          var new_l_val = new_l.options[new_l.selectedIndex].value;
        }
      </script>

      <h2 tabindex='0'>Other Locations:</h2>
      {% for key, val in objectDict.iteritems() %}
        {% if val|length > 0 %}
        {% if loop.index < 5 or loop.index > 13 %}
        <h4 tabindex='0'>{{ locationDict[loop.index] }}:</h4>
        <ul>
          {% for v in val %}
            <li tabindex='0'> {{ v }} </li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endif %}
      {% endfor %}
	  </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
